* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgb(177,177,177);
    height: 100px;
}

.nav {
    padding: 10px 10vw;
    display: flex;
    justify-content: space-between;
}

.brand-logo {
    height: 85px;
}

.nav-items {
    display: flex;
    align-items: center;
}

.search { 
    width: 500px;
    display: flex;
}

.search-box {
    width: 80%;
    height: 30px;
    padding: 10px;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
    border: 1px solid black;
    text-transform: capitalize;
    color: antiquewhite;
    outline: none;
}

.search-bnt {
    height: 30px;
    width: 20%;
    border: none;
    outline: none;
    cursor: pointer;
    background: grey;
    color: #fff;
    text-transform: capitalize;
    font-size: 15px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.nav-items a {
    margin-left: 20px;
}

.nav-items a img {
    width: 30px;
}